<div class="top-container">
  <div class="top-container-image">
  <img src="https://images.pexels.com/photos/1687845/pexels-photo-1687845.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="camp">
    <h1>私達のもうひとつのライフスタイル</h1>
    <div class="top-title">
      <p>さっそく使ってみる</p>
    </div>
  </div>
</div>
<div class="top-description">
  <figure class="image is-128x128">
  <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
</figure>

<figure class="image is-128x128">
  <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
</figure>

<figure class="image is-128x128">
  <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
</figure>

</div>

