<div class="contact-new-container">
  <section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          お問い合わせ
        </h1>
      </div>
    </div>
  </section>
  <p>
    お問い合わせいただきありがとうございます。
  </p>
  <p>
    内容に関してはこちらからご連絡させていただきます。
  </p>

  <%= link_to 'トップページへ戻る', root_path %>
</div>