<div class="post-index">
  <%= render 'shared/search' %>
  <div class="post-container">
    <% @posts.each do |post| %>
      <%= link_to post_path(post.id) do%>
        <% if post.post_image.attached? %>
          <figure class="image">
            <%= image_tag post.post_image.variant(gravity: :center, resize:"160x160^", crop:"160x160+0+0") %>
          </figure>
        <% end %>
      <% end %>
    <% end %>
  </div>


  <nav class="pagination" role="navigation" aria-label="pagination">
    <a class="pagination-previous" title="This is the first page" disabled>Previous</a>
    <a class="pagination-next">Next page</a>
    <ul class="pagination-list">
      <li>
        <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
      </li>
      <li>
        <a class="pagination-link" aria-label="Goto page 2">2</a>
      </li>
      <li>
        <a class="pagination-link" aria-label="Goto page 3">3</a>
      </li>
    </ul>
  </nav>
</div>