/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

#error_explanation {
    background-color: rgb(245, 245, 245);
    margin-bottom: 25px;
    color: #ec4f4f;
    padding: 10px;
}

.notice {
  background-color: rgb(102, 180, 243);
  color: #fff;
  text-align: center;
  padding: 10px;
}
.alert {
  background-color: rgb(243, 102, 102);
  color: #fff;
  text-align: center;
  padding: 10px;
}

.navbar-brand {

  .navbar-item {
    i {
      margin-right: 5px;
    }
  }
}

.footer {
  margin-top: 150px;
}

.hero-body {
  background-color: #fff;
  .container {
    .title {
      color: #000;
    }
  }
}

.user-edit-container {
  width: 80%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;

  .edit-profile-image {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  .field {
    input {
      width: 100%;
      height: 30px;
      border-color: #b5b5b5;
      border-radius: 5px;
      border: 1px solid #dbdbdb;
      background-color: #dbdbdb1f;
    }
    textarea {
      width: 100%;
    }
  }
}

.user-destroy {
  
}